<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный аппендер с цветами -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %highlight{%-5level}{ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <!-- RollingFileAppender для записи логов в файл -->
        <RollingFile name="RollingFile" fileName="logs/app.log" append="false"
                     filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Перекатывать файл каждый день -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Перекатывать файл, если его размер превышает 10 MB -->
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <!-- Выберите какие аппендеры использовать -->
            <!-- Для разработки можно использовать консольный -->
            <AppenderRef ref="Console"/>
            <!-- Для продакшена используйте файловый -->
            <!-- <AppenderRef ref="RollingFile"/> -->
        </Root>
    </Loggers>
</Configuration>